.has-post-thumbnail {
    background-color: blanchedalmond;
    padding: 15px;
}

.post-wrapper {
    transition: .25s;
}

.bw-to-color {
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out;
}

.bw-to-color:hover {
    filter: grayscale(0%);
}

.post-title {
    font-size: 22px;
}